<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lateef" rel="stylesheet">
    <title>ABOUT MEEEE</title>
  </head>
  <body>  
    <nav>
      <h3 class="navHeader">Garrett Rasko-Martinis</h3>
      <div class="navLinkBox">
      <a href="/home" class="navLink">Home</a>
      <a href="/about" class="currentLink">About me</a>
      <a href="/projects" class="navLink">Projects</a>
      <a href="/resume" class="navLink">Resume</a>
    </div>
    </nav>  
    <section class="aboutMainBox">
      <img src="../images/newMe.jpg" height="26%" width="26%" class="aboutImage" />
      <div class="aboutRightBox">
        <p class="aboutText">As a web developer with a background in journalism,  I combine my expanding suite of programming skills  with the communication, organization, and leadership abilities  I honed as a newspaper editor to find effective,  efficient solutions. I bring a hunger to learn  and a sense of humor to any team, and look forward to  embracing new challenges each and every day.</p>
        <div class="contactFormBox">
        <p>Email: <a href='mailto:garrettrm9@gmail.com'>garrettrm9@gmail.com</a></p>
        <p>Github: <a href="https://github.com/garrettrm9">garrettrm9</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/garrettraskomartinis/">garrettraskomartinis</a></p>
        </div>      
        <img src="../images/circle.jpg" class="aboutCircle1"/> 
        <div class="aboutQuoteBox">
          <p class="aboutQuoteText">"Learn from yesterday, live for today, hope for tomorrow. The <br/>important thing is not to stop questioning."<br/>— Albert Einstein</p>
        </div>      
    </div>  
    </section>  
  </body>
</html>