<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lateef" rel="stylesheet">
    <title>Contact me</title>
  </head>
  <body>
    <nav>
      <h3 class="navHeader">Garrett Rasko-Martinis</h3>
      <div class="navLinkBox">
      <a href="/home" class="navLink">Home</a>
      <a href="/about" class="navLink">About me</a>
      <a href="/projects" class="navLink">Projects</a>
      <a href="/resume" class="navLink">Resume</a>
      <a href="/contact" class="currentLink">Contact me</a>
    </div>
    </nav>   
    <h1>Contact me</h1>
    <section class="contactMainBox">
      <div>
        <p>Email: <a href='mailto:garrettrm9@gmail.com'>garrettrm9@gmail.com</a></p>
        <p>Github: <a href="https://github.com/garrettrm9">garrettrm9</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/garrettraskomartinis/">garrettraskomartinis</a></p>
      </div>
      <form class="contactFormBox">
        <div class="contactDiv">
          <label>Name: </label>
          <input type="text">
        </div>
        <div class="contactDiv">        
          <label>Email: </label>
          <input type="text">
        </div>  
        <div class="contactDiv">        
          <label>Subject: </label>
          <input type="text">
        </div>
        <div class="contactDiv">          
          <label>Message: </label>
          <input type="text">
        </div>  
      </form>
    </section> 
  </body>
</html>