<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lateef" rel="stylesheet">
    <title>Garrett Rasko-Martinis portfolio</title>
  </head>
  <body>
    <nav>
      <h3 class="navHeader">Garrett Rasko-Martinis</h3>
      <div class="navLinkBox">
      <a href="/home" class="currentLink">Home</a>
      <a href="/about" class="navLink">About me</a>
      <a href="/projects" class="navLink">Projects</a>
      <a href="/resume" class="navLink">Resume</a>
    </div>
    </nav>
    <img src="../images/circle.jpg" class="homeCircle1"/> 
    <section class="homeMainBox">
      <h1 class="homeQuote">"Software and cathedrals are much the same – first we build them, then we pray"</h1>
      <img src="../images/Me.jpg" class="homeImage" width="30%" height="30%"/>
    </section>
    <img src="../images/circle.jpg" width="200" height="200" class="homeCircle2"/> 
  </body>
</html>