<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lateef" rel="stylesheet">
    <title>Projects</title>
  </head>
  <body>
    <nav>
      <h3 class="navHeader">Garrett Rasko-Martinis</h3>
      <div class="navLinkBox">
      <a href="/home" class="navLink">Home</a>
      <a href="/about" class="navLink">About me</a>
      <a href="/projects" class="currentLink">Projects</a>
      <a href="/resume" class="navLink">Resume</a>
    </div>
    </nav>    
  </body>
</html>